USE [PortfolioDB]
GO
/****** Object:  StoredProcedure [dbo].[spGetAbout]    Script Date: 4/08/2025 6:37:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
===================================================
 Script: Creación sp para obtener info del About
 Autor: Luis Felipe García Gómez
 Fecha: 2025-08-04
 Descripción: Creación sp para obtener info de tbAbout
===================================================
*/

CREATE OR ALTER   PROCEDURE [dbo].[spGetAbout]
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON; -- Evita mensajes innecesarios como "X rows affected"

		-- Selecciona todos los campos de la tabla tbAbout
        SELECT 
            Id,
            PortfolioName,
            PortfolioTitle,
            PortfolioDescription,
            CreateDate
        FROM tbAbout;

    END TRY
    BEGIN CATCH

        INSERT INTO tbErrors (ProcedureName, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState, ErrorLine)
        VALUES (
            ERROR_PROCEDURE(),
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_LINE()
        );

        THROW; -- Re-lanza el error para que el backend lo capture

    END CATCH
END;
