USE [PortfolioDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
===================================================
 Autor: Luis Felipe García Gómez
 Fecha: 2025-08-10
 Modificado: 2025-08-10
 Descripción: Creación sp para obtener info de profile
===================================================
*/

CREATE OR ALTER PROCEDURE spGetAboutProfile
AS
BEGIN
    SET NOCOUNT ON;

	BEGIN TRY

		SELECT 
			a.Id,
			a.PortfolioName,
			a.City,
			a.ProfileDescription,
			a.CvUrl,
			a.AvatarUrl,

			-- Contact Info
			(
				SELECT c.InfoLabel, c.InfoValue, c.Icon, c.OrderIndex
				FROM dbo.tbAboutContactInfo ac
				JOIN dbo.tbContactInfo c ON ac.IdContactInfo = c.Id
				WHERE ac.IdAbout = a.Id
				ORDER BY c.OrderIndex
				FOR JSON PATH
			) AS ContactInfo,

			-- Skills agrupadas por tipo
			(
				SELECT st.SkillType, 
					(
						SELECT s.SkillName, s.OrderIndex
						FROM dbo.tbAboutSkill ab
						JOIN dbo.tbSkill s ON ab.IdSkill = s.Id
						WHERE ab.IdAbout = a.Id AND s.IdSkillType = st.Id
						ORDER BY s.OrderIndex
						FOR JSON PATH
					) AS Skills
				FROM dbo.tbSkillType st
				FOR JSON PATH
			) AS Skills,

			-- Achievements
			(
				SELECT ach.Description, ach.OrderIndex
				FROM dbo.tbAboutAchievement aa
				JOIN dbo.tbAchievement ach ON aa.IdAchievement = ach.Id
				WHERE aa.IdAbout = a.Id
				ORDER BY ach.OrderIndex
				FOR JSON PATH
			) AS Achievements,

			-- Experience
			(
				SELECT e.Position, e.Company, e.StartDate, e.EndDate, e.Responsibilities, e.Achievements, e.OrderIndex
				FROM dbo.tbExperience e
				WHERE e.IdAbout = a.Id
				ORDER BY e.OrderIndex
				FOR JSON PATH
			) AS Experience,

			-- Education (formal)
			(
				SELECT ed.Institution, ed.Degree, ed.StartDate, ed.EndDate, ed.Description, ed.OrderIndex
				FROM dbo.tbEducation ed
				WHERE ed.IdAbout = a.Id
				ORDER BY ed.OrderIndex
				FOR JSON PATH
			) AS Education,

			-- Complementary Education (cursos/certificaciones)
			(
				SELECT ce.CourseName, ce.Institution, ce.IssueDate, ce.CredentialUrl, ce.OrderIndex
				FROM dbo.tbComplementaryEducation ce
				WHERE ce.IdAbout = a.Id
				ORDER BY ce.OrderIndex
				FOR JSON PATH
			) AS ComplementaryEducation

		FROM dbo.tbAbout a
		ORDER BY a.CreateDate DESC

    END TRY
    BEGIN CATCH

        INSERT INTO tbErrors (ProcedureName, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState, ErrorLine)
        VALUES (
            ERROR_PROCEDURE(),
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_LINE()
        );

        THROW; -- Re-lanza el error para que el backend lo capture

    END CATCH
END;
