USE [PortfolioDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
===================================================
 Autor: Luis Felipe García Gómez
 Fecha: 2025-08-10
 Modificado: 2025-08-11
 Descripción: Creación sp para obtener info de proyectos
===================================================
*/

CREATE OR ALTER   PROCEDURE [dbo].[spGetProjects]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SELECT 
			Id
			,ProjectName
			,ProjectDescription
			,Technologies
			,GitHubUrl
			,DemoUrl
			,OrderIndex
			,CreateDate
		FROM dbo.tbProject
		WHERE IdAbout = 1
		ORDER BY OrderIndex;

    END TRY
    BEGIN CATCH
        INSERT INTO tbErrors (ProcedureName, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState, ErrorLine)
        VALUES (
            ERROR_PROCEDURE(),
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_LINE()
        );

        THROW; -- Re-lanza el error para que el backend lo capture
    END CATCH
END
