USE [PortfolioDB]
GO
/****** Object:  StoredProcedure [dbo].[spGetAbout]    Script Date: 7/08/2025 6:46:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
===================================================
 Script: Creación sp para obtener info del About
 Autor: Luis Felipe García Gómez
 Fecha: 2025-08-04
 Modificado: 2025-08-07
 Descripción: Creación sp para obtener info de tbAbout
===================================================
*/

ALTER     PROCEDURE [dbo].[spGetAbout]
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON; -- Evita mensajes innecesarios como "X rows affected"

		-- Selecciona todos los campos de la tabla tbAbout
        SELECT
			PortfolioName,
			City,
			Phone,
			Email,
			LinkedIn,
			ProfileDescription,
			HardSkills,
			SoftSkills,
			Achievements,
			CvUrl
		FROM dbo.tbAbout
		ORDER BY CreateDate;

    END TRY
    BEGIN CATCH

        INSERT INTO tbErrors (ProcedureName, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState, ErrorLine)
        VALUES (
            ERROR_PROCEDURE(),
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_LINE()
        );

        THROW; -- Re-lanza el error para que el backend lo capture

    END CATCH
END;
